
@model simplifile.ViewModels.Usuario.UsuarioPasswordViewModel
<!-- Modal -->
<div class="modal-body">
    <form asp-action="Password">

        <input asp-for="UsuId" type="hidden" class="form-control" readonly />
        <div class="form-group has-feedback">
            <label asp-for="UsuCorreo"></label>
            <input asp-for="UsuCorreo" type="email" class="form-control" placeholder="Email" readonly />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="UsuCorreo" class="text-danger"></span>
        </div>

        <div class="form-group has-feedback">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group has-feedback">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirmar contraseña" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </form>
</div>