
@model simplifile.ViewModels.Usuario.UsuarioModificarViewModel
<!-- Modal -->
<div class="modal-body">
    <form asp-action="Update">
        <input asp-for="UsuId" type="hidden" class="form-control" placeholder="Id" />

        <div class="form-group has-feedback">
            <label asp-for="UsuCorreo"></label>
            <input asp-for="UsuCorreo" type="email" class="form-control" placeholder="Email" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="UsuCorreo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UsuRol"></label>
            <div>
                <div class="radio-inline ">
                    <label>
                        <input type="radio" asp-for="UsuRol" value="client" />
                        Usuario Funcional
                    </label>
                </div>
                @if (User.HasRoles("admin"))
                {
                    <div class="radio-inline ">
                        <label>
                            <input type="radio" asp-for="UsuRol" value="manager" />
                            Administrador de Empresa
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" asp-for="UsuRol" value="admin" />
                            Administrador de solución
                        </label>
                    </div>
                }

            </div>

            <span asp-validation-for="UsuRol" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UsuEmpId"></label>
            <select asp-for="UsuEmpId"
                    asp-items="@(ViewBag.Empresas)" class="form-control">
                <option value="">Seleccione la empresa</option>
            </select>
            <span asp-validation-for="UsuEmpId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label>Nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pr-1">
                <div class="form-group has-feedback">
                    <input asp-for="UsuNombre1" type="text" class="form-control" placeholder="Primer nombre" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="UsuNombre1" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6 pl-1">
                <div class="form-group has-feedback">
                    <input asp-for="UsuNombre2" type="text" class="form-control" placeholder="Segundo nombre" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="UsuNombre2" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label>Apellidos</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pr-1">
                <div class="form-group has-feedback">
                    <input asp-for="UsuPaterno" type="text" class="form-control" placeholder="Apellido paterno" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="UsuPaterno" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6 pl-1">
                <div class="form-group has-feedback">
                    <input asp-for="UsuMaterno" type="text" class="form-control" placeholder="Apellido materno" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="UsuMaterno" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label asp-for="UsuTelefono"></label>
            <input asp-for="UsuTelefono" type="text" class="form-control" placeholder="Teléfono" />
            <span class="fa fa-phone form-control-feedback"></span>
            <span asp-validation-for="UsuTelefono" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UsuEstatus"></label>
            <select class="form-control" asp-for="UsuEstatus">
                <option value="0">Inactiva</option>
                <option value="1">Activa</option>
            </select>
            <span asp-validation-for="UsuEstatus" class="text-danger"></span>
        </div>
    </form>
</div>