
@model simplifile.ViewModels.MasterParm.MasterParmEliminarViewModel
<!-- Modal -->
<div class="modal-body">
    <form asp-action="Delete">
        <h3>¿Esta seguro que desea eliminar el parámetro @Model.MParmId?</h3>
        <input asp-for="MParmId" type="hidden" class="form-control" />
    </form>
</div>