
@model simplifile.ViewModels.MasterParm.MasterParmInsertarViewModel
<!-- Modal -->
<div class="modal-body">
    <form asp-action="Insert">

        <div class="form-group">
            <label asp-for="MParmId"></label>
            <input asp-for="MParmId" class="form-control" />
            <span asp-validation-for="MParmId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MParmDesc"></label>
            <input asp-for="MParmDesc" class="form-control" />
            <span asp-validation-for="MParmDesc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tipo"></label>
            <div>
                <div class="radio-inline ">
                    <label>
                        <input type="radio" asp-for="Tipo" value="0" />
                        Carácteres
                    </label>
                </div>
                <div class="radio-inline ">
                    <label>
                        <input type="radio" asp-for="Tipo" value="1" />
                        Númerico
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" asp-for="Tipo" value="2" />
                        Buleano
                    </label>
                </div>

            </div>

            <span asp-validation-for="Tipo" class="text-danger"></span>
        </div>
        <div class="form-group" style="display: @(Model.Tipo == 0 ? "block":"none")">
            <label asp-for="MParmValTxt"></label>
            <input asp-for="MParmValTxt" class="form-control" />
            <span asp-validation-for="MParmValTxt" class="text-danger"></span>
        </div>
        <div class="form-group" style="display: @(Model.Tipo == 1 ? "block":"none")">
            <label asp-for="MParmValNum"></label>
            <input asp-for="MParmValNum" class="form-control" />
            <span asp-validation-for="MParmValNum" class="text-danger"></span>
        </div>
        <div class="form-group" style="display: @(Model.Tipo == 2 ? "block":"none")">
            <label asp-for="MParmBool"></label>
            <select class="form-control" asp-for="MParmBool">
                <option value="true">Verdadero</option>
                <option value="false">Falso</option>
            </select>
            <span asp-validation-for="MParmBool" class="text-danger"></span>
        </div>
    </form>
</div>