
@{
    ViewData["Title"] = "Mantenimiento";
    Layout = "~/Views/Shared/_Auth.cshtml";
    Html.AddCssBody("mantain-page");
}

<div class="mantain-box text-center ">
    <article>
        <img src="~/images/logo2.png" width="200" />
        <h1>¡En Mantenimiento!</h1>
        <div>
            <p>Perdone los inconvenientes. Estamos realizando mejoras en el portal.</p>
            <p>
                <b>
                    Equipo de SimpliFile Solutions
                </b>
            </p>
        </div>
    </article>
</div>

